.container{
    width: 1140px;
    margin: 0 auto;
}
.container-fluid{
    width: 100%;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    width: 8.33%;
}

.col-2{
    width: 50%;
}

.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 40%
}
.col-6{
    width: 50%;
}
.col-7{
    width: 60%;
}
.col-8{
    width: 65%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 83%;
}
.col-11{
    width: 92%;
}

.col-12{
    width: 100%;
}